{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle bière{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4"> {{ form_row(form.nom) }} </div>
        <div class="col-md-4"> {{ form_row(form.robe) }} </div>
        <div class="col-md-4"> {{ form_row(form.type) }} </div>
    </div>
    <div class="row">
        <div class="col-md-4"> {{ form_row(form.ibu) }} </div>
        <div class="col-md-4"> {{ form_row(form.abv) }} </div>
        <div class="col-md-4"> {{ form_row(form.id_brasserie) }} </div>
    </div>
    {{ form_row(form.description) }}
    <button class="btn btn-dark" type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}