{% extends 'base.html.twig' %}

{% block title %}Stats{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-7">
                <h1>Statistiques de {{app.user.pseudo}}</h1>
            </div>
            <div class="col-md-4 ">
                <h3>
                    <h3> {{ nbBiere }} {% if nbBiere>=1 %}bières bues{% else %}bière bue{% endif %}</h3>
                    <h3> {{ nbBiereDistinct }} {% if nbBiereDistinct>=1 %}bières différentes{% else %}bière différente{% endif %}</h3>
                </h3>
            </div>
        </div>
    </div>



    {%  if nbBiere > 0 %}
        <table class="table table-borderless  text-center">
            <thead>
                <tr>
                    <th>Par Type</th>
                    <th> Par Origine</th>
                    <th>Bières Favorites</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td>
                        <table class="table table-borderless text-center">
                            <tbody>
                                {% for result in nbBiereDistinctType   %}
                                   <tr><td><h5>{{ result.type | capitalize}}</h5></td><td><h3>{{ result.nb }}</h3></td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table table-borderless text-center">
                            <tbody>
                            {% for result in nbBiereDistinctOrigineBrasseur   %}
                                <tr><td><h5>{{ result.pays | capitalize }}</h5></td><td><h3>{{ result.nb }}</h3></td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table table-borderless text-center">
                            <tbody>
                            {% for result in biereFavorites   %}
                                <tr><td><h5>{{ result.nom | capitalize }}</h5></td><td><h3>{{ result.nb }}</h3></td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        {% else %}
    {% endif %}




    <div class="container">

        </div>
{% endblock %}
